/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



/*   Global   */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
    list-style: none;
    /*    outline: 1px solid brown;*/
}

/*   End Global   */

/*   Start Navbar   */
nav {
    height: 100px;
    background-color: #FAA6BD;
}

.logo {
    padding: 10px;
    width: auto;
    float: left;
}

.logo img {
    height: 55px;
}

.list-item {
    float: right;
    margin-right: 25px;
    margin-top: 17px;
}

.list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 18px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.list-item li a {
    color: #EEE;
}

.list-item li:hover {
    background-color: rgb(233, 93, 121);
}

/*   End navbar   */

/*   Start navbar for small screens   */

.icon {
    display: none;
}

.toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    /* border: 1px solid #EEE; */
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}

/*   End navbar for small screens   */

/*   Start media query   */

@media (max-width: 1309px) {
    .icon {
        display: block;
        width: 100%;
        height: 80px;
        background-color: #FAA6BD;
    }

    .list-item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #FAA6BD;
        display: none;
    }

    .list-item li {
        text-align: center;
        display: block;
        float: none;
    }
}

/*   End media query   */

/*   Start hero   */
.hero1 img {
    object-fit: cover;
    /* object-position: 0%; */
    width: 100%;
    max-height: 40rem;
}

/*   End hero   */

/*   Quienes somos   */
#quienessomos,
#quierocomprar {
    margin: 5rem;
    font-style: normal;
    text-align: center;
    letter-spacing: .05rem;
    color: #8C797E;
}

#quienessomos h2,
#quierocomprar h2 {
    font-size: 2rem;
    font-weight: 900;
}

.text-quienessomos,
.text-quierocomprar {
    padding: 4rem;
    letter-spacing: .05rem;
    text-align: justify;
}

/*estilos tops.html                             (ORDENAR)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	/* max-width: 1100px; */
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	/* height: 210px; */
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #f3969a;
	border: 1px solid #f3969a;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #f3969a;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/

/*   Footer   */
.footer {
    margin: 5rem;
    padding: 1rem;
    font-style: normal;
    text-align: center;
    letter-spacing: .05rem;
}

