@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*   Global   */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*   Navbar   */
.nav {
    width: 100%;
    height: 90px;
    background-color: #FAA6BD;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
}
.nav__logo {
    padding: 10px;
    width: auto;
    float: left;
}
.nav__img {
    height: 55px;
}
.nav__toggle{
    display: none;
}
.nav__toggle-icon {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    /* border: 1px solid #EEE; */
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}
.list {
    float: right;
    margin-right: 25px;
    margin-top: 17px;
    list-style: none;
}
.list__li {
    float: left;
    padding: 13px 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.list__a {
    color: #EEE;
    text-decoration: none;
}
.list__li:hover {
    background-color: rgb(233, 93, 121);
}

/*   Navbar Responsive  */
@media (max-width: 1200px) {
    .nav__toggle{
        display: block;
        width: 100%;
        height: 90px;
        background-color: #FAA6BD;
    }
    .list {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #FAA6BD;
        display: none;
    }
    .list__li {
        text-align: center;
        display: block;
        float: none;
    }
}

/*   Hero  */
.hero__img {
    object-fit: cover;
    /* object-position: 0%; */
    width: 100%;
    max-height: 40rem;
}

/*   Secciones   */
.section {
    padding: 6rem;
}
.section__title {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    letter-spacing: .2rem;
    color: #8C797E;
}
.section__text {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    letter-spacing: .05rem;
    text-align: justify;
    color: #8C797E;
    /* margin-left: 10rem;
    margin-right: 10rem; */
}

/*  Sección Quiero vender   */
.section-sale {
    background-color: #ffcecea5;
    padding: 6rem;
}
.section-sale__group {
    align-content: center;
    text-align: center;
}
.section-sale__btn {
    border: 2px solid #F3969A;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
    background-color: #FFDFDF;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2rem;
    color: #F3969A;
}
.section-sale__a{
    color: #8C797E;
    text-decoration: none;
}
.section-sale__btn:hover{
    background: #F3969A;
    color: white;
}
.section-sale__a:hover{
    color: white;
}

/*  Sección Encuesta  */
.section-survey {
    background-color: #F3969A;
    text-align: center;
    color: #FFF;
    padding: 4rem;
}
.section-survey__img {
    padding-bottom: 3rem;
    margin-top: 50px;
}
.section-survey__title {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.section-survey__text {
    font-size: 1.1rem;
    margin: 0 20%;
    letter-spacing: .05rem;
}
.section-survey__option{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-survey__container-options{
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    padding: 1rem;
}
.section-survey__alert{
    background-color: #d0748c ;
    padding: 10px;
}
.section-survey__alert-a{
    color: white;
    text-decoration: none;
}

/*  Formularios Quiero Vender y Contacto  */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.form__group {
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
}
.form__label{
    color: #8C797E;
}
.form__input {
    width: 60vw;
    border-radius: 5px;
    padding: 5px 8px;
    border: solid 1px #cfcece;
}
.form__textarea {
    width: 60vw;
    border: solid 1px #cfcece;
    padding: 5px 8px;
    border-radius: 5px;
    resize: none;
}
.form__button {
    border: solid 1px #f3969a;
    background-color: white;
    color: #f3969a;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.form__button:hover {
    border: solid 1px #f3969a;
    color: white;
    background-color: #f3969a;
}

/*   Iconos flotantes  */
.float-icon{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    border-radius: 50%;
    padding: 0;
}
.float-icon--whatsapp {
    bottom: 70px;
}
.float-icon--cart {
    bottom: 130px;
}

/*  Tarjetas del Index   */
.container__cards {
    width: 100%;
    display: flex;
    margin: auto;
    /* border: 1px solid red; */
}
.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card__img {
    width: 100%;
    /* height: 210px; */
}
.card__content {
    padding: 15px;
    text-align: center;
}
.card__content--right {
    text-align: right;
}
.card__title {
    margin-bottom: 15px;
    color: #8C797E;
    font-weight: 500;
}
.card__text {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;   
}
.card__btn {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #f3969a;
    border: 1px solid #f3969a;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card__btn:hover {
    background: #f3969a;
    color: #fff;
}

/*Tarjetas de Productos*/
.container__products-cards {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
}
.product-card {
    width: 100%;
    margin: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    cursor: default;
}
.product-card__p{
    color: #6a6a6a;
    font-size: 0.7rem;
}

/*Tarjetas Responsive*/
@media only screen and (min-width:0px) and (max-width:768px) {
    .container__cards {
        flex-wrap: wrap;
    }
    .card {
        margin: 15px;
    }
    .container__products-cards {
        flex-wrap: wrap;
    }
    .product-card {
        margin: 15px;
    }
}

/*   Footer   */
.footer {
    background-color: #FAA6BD;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    /* margin-top: 4rem; */
    padding: 4rem;
    text-align: right;
    letter-spacing: .05rem;
}
.footer__icon {
    width: 40px;
    height: 40px;
}
.footer__clock {
    padding-top: 2rem;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    background-color: #FAA6BD;
    color: #FFF;
}
.social {
    margin-top: 1rem;
    text-align: right;
    /* border: 1px solid red; */
    width: 100%;
}
.social__icon{
    width: 2.5rem;
}
.social__icon:hover {
    opacity: 0.4;
}
