@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

/*   Global   */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;                 /*cambiar a class de nav*/
    font-family: 'Poppins', sans-serif;
    list-style: none;                      /*cambiar a class de nav*/
}

/*   Fin Global   */

/*   Navbar   */
nav {
    height: 100px;
    background-color: #FAA6BD;
    font-family: 'Poppins', sans-serif;
}

.logo {
    padding: 10px;
    width: auto;
    float: left;
}

.logo img {
    height: 55px;
}

.list-item {
    float: right;
    margin-right: 25px;
    margin-top: 17px;
}

.list-item li {
    float: left;
    padding: 13px 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.list-item li a {
    color: #EEE;
}

.list-item li:hover {
    background-color: rgb(233, 93, 121);
}

/*   Fin navbar   */

.icon {
    display: none;
}

.toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    /* border: 1px solid #EEE; */
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
}


/*   navbar responsive  */
/* Media query del navbar  */

@media (max-width: 1309px) {
    .icon {
        display: block;
        width: 100%;
        height: 80px;
        background-color: #FAA6BD;
    }

    .list-item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #FAA6BD;
        display: none;
    }

    .list-item li {
        text-align: center;
        display: block;
        float: none;
    }
}
/*   Fin media query  
/*   Fin navbar responsive   */

/*   Hero img  */
.hero__img img {
    object-fit: cover;
    /* object-position: 0%; */
    width: 100%;
    max-height: 40rem;
}

/*   Fin hero   */

/*   Secciones   */
.section {
    padding: 6rem;
}

.section__title {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    color: #7a7a7a;
}

.section__text {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    letter-spacing: .05rem;
    text-align: justify;
    color: #8C797E;
    /* margin-left: 10rem;
    margin-right: 10rem; */
}

.section__selling {
    background-color: #FFDFDF;
}


/* Encuesta */
.pregunta {
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 5rem;
}

.nivel__1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Quiero vender*/
.section__btn {
    align-content: center;
    text-align: center;
}

.btn {
    border: 2px solid #F3969A;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
    background-color: #FFDFDF;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2rem;

}

.info {
    border-color: #F3969A;
    color: #F3969A
}

.info:hover {
    background: #F3969A;
    color: white;
}

/*   Launcher  */
.launcher__btn--whatsapp {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 70px;
    left: 20px;
    border-radius: 50%;
    padding: 0;
}

.launcher__btn--cart {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 130px;
    left: 20px;
    border-radius: 50%;
    padding: 0;
}

/*   Fin Launcher  */

/*   Footer   */
.footer {
    background-color: #FAA6BD;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 6rem;
    text-align: center;
    letter-spacing: .05rem;
}

.footer__icon {
    width: 40px;
    height: 40px;
}

.footer__clock {
    padding-top: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    background-color: #FAA6BD;
    color: #FFF;
}

.social {

    margin-top: 1rem;
    text-align: center;
    /* border: 1px solid red; */
    width: 100%;
}

.social__icon--instagram {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: #FFF;
    /* border: 1px solid blue; */
    /* opacity: 0.75; */
}

footer .social>a:hover {
    opacity: 0.4;
}

/*  Fin Footer   */